<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href=""/css/styles.css""> 
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>   
        <a class="active" href="/createPhongBan">CreatePhongBan</a>       
      </div>
      <div class="form">
        <form action="/create" method="post"> <!-- action="/create-user" method="post" -->
        <fieldset>
            <legend>
                Form add new users
            </legend>           
            <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="user">User:</label>
    <input type="text" id="user" name="user"><br><br>
    <label for="pwd">Password:</label>
    <input type="text" id="pwd" name="pwd"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday"><br><br>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone"><br><br>
    <label for="ban">Ban:</label>
    <input type="text" id="ban" name="ban" list="listBan"><br><br>
    <% for(var i=0; i<data.length; i++) {%>
    <datalist id="listBan">
        <option value="<%=data[i].ban %>"></option>        
    </datalist>
    <% } %>  
    <label for="phong">Phong:</label>
    <input type="text" id="phong" name="phong" list="listPhong">
    <% for(var i=0; i<data.length; i++) {%>
        <datalist id="listPhong">
            <option value="<%=data[i].ban %>"></option>        
        </datalist>
        <% } %> 
    <br><br>
    <input type="submit" value="Submit">
        </fieldset>
        </form>
      </div>
</body>
</html>